html,
body,
header#gb,
form#aso_search_form_anchor,
.docs-homescreen-container.docs-homescreen-docs,
.docs-homescreen-container.docs-homescreen-docs
  .docs-homescreen-fcc-flex-content-wrapper
  .docs-homescreen-fcc-content,
.docs-homescreen-item-container .docs-homescreen-floater-header,
.gstl_50.gssb_c .gssb_e.ASO_PANEL {
  background-color: #101214;
}

#gb .gb_1c svg,
#gb form#aso_search_form_anchor #gs_lc50 input.gb_ze::placeholder,
#gb form#aso_search_form_anchor button.gb_Oe.gb_Pe svg,
#gb .gb_B svg.gb_F,
.docs-homescreen-container.docs-homescreen-docs
  .docs-hs-tmp-contractedheader-text,
#gb form#aso_search_form_anchor #gs_lc50 input {
  color: #f8f9fa;
}

.docs-homescreen-container.docs-homescreen-docs
  .docs-homescreen-templates-templateview-preview.docs-homescreen-templates-templateview-preview-showcase {
  background-color: #101214;
  border-color: #101214;
  width: 64px;
  height: 64px;
}

.docs-homescreen-container.docs-homescreen-docs
  .docs-homescreen-templates-templateview-preview.docs-homescreen-templates-templateview-preview-showcase
  img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.docs-homescreen-container.docs-homescreen-docs
  .docs-homescreen-fcc-flex.docs-homescreen-fcc-flex-contracted:not(
    .docs-homescreen-fcc-container-with-hidden-navbar
  ) {
  /* height: 240px; */
}

.docs-homescreen-floater-list-header .docs-homescreen-floater-header,
.docs-homescreen-item-container
  .docs-homescreen-list-container
  .docs-homescreen-list-header,
.docs-homescreen-item-container
  .docs-homescreen-list-container
  .docs-homescreen-item-section
  .docs-homescreen-list-item,
.gstl_50.gssb_c .gssb_e.ASO_PANEL #gs_sbt50.gssb_m {
  background-color: #101214;
  color: #f8f9fa;
}

.docs-homescreen-item-container
  .docs-homescreen-list-container
  .docs-homescreen-item-section
  .docs-homescreen-list-item {
  border-bottom-color: #7d8fa1;
}

.docs-homescreen-floater-header-buttons
  .goog-inline-block.docs-homescreen-editorbar-actionbutton,
.docs-homescreen-list-item
  .docs-homescreen-list-item-cell.docs-homescreen-list-item-title
  span.docs-homescreen-list-item-shared-icon {
  /* background-color: #ebedef; */
  background-color: #000;
}

.docs-homescreen-item-container
  .docs-homescreen-list-container
  .docs-homescreen-item-section
  .docs-homescreen-list-item
  .docs-homescreen-list-item-owner,
.docs-homescreen-item-container
  .docs-homescreen-list-container
  .docs-homescreen-item-section
  .docs-homescreen-list-item
  .docs-homescreen-list-item-time,
.gstl_50.gssb_c .gssb_e.ASO_PANEL .asor_e {
  color: #cad1de;
}
